$fontSize: 18px;

::selection {
  color: #f5f5f5; 
  background: #212121;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #212121; 
}

::-webkit-scrollbar-thumb {
  background: darken($color: #212121, $amount: 5); 
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($color: #212121, $amount: 5); 
}

a {
  text-decoration: none;
  margin: 0 8px;
  :hover {
    text-decoration: line-through;
  }
}

.App {
  text-align: center;
  font-size: $fontSize;
  @media screen and (max-width: 700px){
    font-size: ($fontSize / 3) * 2;
  }
  .home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  h2 {
    font-size: 48px;
    @media screen and (max-width: 700px){
      font-size: (48px / 3) * 2;
    }
  }
  .return {
    text-align: left;
    float: left;
  }
  .container {
    min-width: 80%;
    max-width: 90%;
    margin: 0 auto;
  }
  code {
    background: darken(#212121, 5);
    padding: 4px;
    border-radius: 4px;
  }
}